
/*.main{
	max-width: 800px;
}
.container{
	max-width: 800px;
}*/

header{
	height: 100px;
}

.logo{
	float: left;
	width: 100px;
	height: 100px;
}

/*.menu a{
	text-decoration: none;
}
.menu{
	background-color: lightblue;
	text-align: center;
}

nav ul{
    list-style-type: none;
    display: inline-flex;
}

.references{
	background-color: lightblue;
}

.table{
	background-color: lightblue;
}

table{
	background-color: red;
}

.odd{
	background-color: white;
}

caption{
	caption-side: bottom;
	text-align: right;
}*/
